body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.topbar {
    display: flex;

    height: 70px;

    background-color: #6a6f7c;
}

.content-container {
    display: flex;

    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;

    width: 200px;

    background-color: #505061;

    flex-shrink: 0;
    align-items: center;
}

.inbox {
    display: flex;

    width: 100%;
}

.inbox__email-list {
    background-color: cornflowerblue;

    flex-grow: 1;
}

.inbox__current-email {
    background-color: lightcyan;

    flex-grow: 1;
}

.topbar__logo {
    display: flex;

    width: 200px;
    height: 70px;

    background-color: #505061;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.topbar__logo-img {
    height: 50px;
}

.topbar__container {
    display: flex;

    flex-grow: 1;
    justify-content: space-between;
}

.topbar__search {
    align-self: center;
}

.topbar__login {
    align-self: center;
}
